# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=capc2
DB_PORT=5432

# Database URL for Prisma
DATABASE_URL=postgresql://postgres:posgres@localhost:5432/capc2?schema=public
# Application Configuration
NODE_ENV=development
PORT=3000

# JWT Configuration
JWT_EXPIRES_IN=7d

JWT_ACCESS_SECRET="TQxiMOsbylF5rMXaKw0o6MkX1DE/clhdoVi94MdAtHY="
JWT_REFRESH_SECRET="isi_dengan_rahasia_refresh_yang_beda_biar_aman_456@"

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

GROQ_API_KEY="your-groq-api-key-here"
GEMINI_API_KEY="your-gemini-api-key-here"

MIDTRANS_SERVER_KEY=SB-Midserver-xxxxxxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxx
MIDTRANS_IS_PRODUCTION=false